.loginup{
    width: 100%;
    height: 110vh;
    background: #fce3fe;
    padding-top: 100px;
}

.loginup-container{
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.loginup-container h1{
    margin: 10px 0px;
}

.loginup-fields{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
}

.loginup-fields input{
    height: 72px;
    width: 100% ;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginup-container button{
    width: 580px;
    height: 72px;
    color: white;
    background-color: #ff4141;
    margin-top: 10px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginup-login{
    margin-top: 10px;
    color: #5c5c5c;
    font-size: 15px;
    font-weight: 500;
}

.loginup-login span{
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}

.loginup-agree{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 15px;
    font-weight: 500;
}

.loginup-agree input{
    width: 15px;
    height: 15px;
}
